body{

margin:0;

background:#111;

font-family:Arial;

color:white;

}

h1{

text-align:center;

}

#main{

display:flex;

justify-content:center;

align-items:flex-start;

gap:20px;

padding:20px;

}

#movieArea{

flex:3;

}

#movie{

width:100%;

background:black;

border-radius:15px;

}

#cameraArea{

display:flex;

flex-direction:column;

gap:15px;

width:250px;

}

#cameraArea video{

width:100%;

border-radius:12px;

background:black;

}

#controls{

text-align:center;

padding:20px;

}